@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">QR Code Reader</h1>
    <form enctype="multipart/form-data" action="api/qrcode" method="POST">
        Choose QR code image to read/scan: <input name="formFile" type="file" />
        <input type="submit" value="Read QR code" />
    </form>
</div>
<div class="display:none;">

    <form enctype="multipart/form-data" action="http://api.qrserver.com/v1/read-qr-code/" method="POST">
        <input type="hidden" name="outputformat" value="json" />
        <input type="file"  name="file"  />
        <input type="submit" value="Read QR code" />
    </form>

</div>
